body {
    font-family: 'Montserrat';
    font-style: normal;
    display: flex;
    flex-direction: row-reverse;
}

/* main */

main {
    padding-top: 102px;
    margin-left: 88px;
}

.aboutme-box {
    width: 400px;
    height: 230px;
    outline: red solid 2px;
    margin-bottom: 40px;
}

.aboutme-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;
}

.aboutme-name {
    font-weight: 700;
    font-size: 45px;
    line-height: 1.22;
    color: #000000;
}

.aboutme-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #595959;
}

.project-box {
    margin-bottom: 51px;
}

.projects-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.22;
    color: #000000;
}

.projects-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #595959;
}

.work-box {
    margin-bottom: 43px;
}

.work-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.22;
    color: #000000;
}

.work-position {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #000000;
}

.work-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #A8A8A8;
}

.work-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #595959;
}

.work-lisen{
    margin-bottom: 20px;
    margin-top: 16px;
}

/* .education-box {
} */

.education-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.22;
    color: #000000;
}

.education-postion {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: #FB6D3A;
}

.education-management {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;
}

.education-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #A8A8A8;
}

.aside-section {
    background: #1E2939;
    width: 370px;
    height: 1319px;
    padding-top: 40px;
    outline: red solid 2px;
}

.aside-item {
    background: url(photo.jpg);
    width: 370px;
    height: 354px;
    padding-left: 0;
}

.contacts-box {
    width: 183px;
    height: 83px;
    margin-top: 51px;
    margin-bottom: 47px;
    padding-left: 40px;
}

.contacts-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.22;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.contacts-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}

.contacts-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
    opacity: 0.5;
}

.contacts-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
    opacity: 0.5;
}

.tech-box {
    width: 121px;
    height: 203px;
    margin-bottom: 44px;
    padding-left: 40px;
    outline: red 2px solid;
}

.tech-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.22;
    color: #FFFFFF;
}

/* .tech-list {
    color: #FB6D3A;
} */

.tech-specialization {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}

.soft-box {
    width: 113px;
    height: 131px;
    padding-left: 40px;
}

.soft-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.22;
    color: #FFFFFF;
}

.soft-specialization {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}

.work-color {
    color: #FB6D3A;
}